<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Novo lembrete</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="new_item_form" (submit)="createItem(new_item_form.value)">
    <ion-item>
      <ion-label color="primary" position="floating">Título</ion-label>
      <ion-input type="text" formControlName="title" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Atividades</ion-label>
      <ion-input type="text" formControlName="description" required></ion-input>
    </ion-item>
    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!new_item_form.valid">Criar</ion-button>
  </form>

</ion-content>
